<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LariApple</title>
  <link rel="stylesheet" href="/static/pag.css">
</head>
<body class="inicial">
  <div class="pagina">
    <header class="titulo">
      <h1>LariApple</h1>
    </header>
    <main class="frase">
      <p>Seja muito bem-vindo!</p>
    </main>
  </div>
  <div class="image-container">
    <div>
        <p>Opção 1</p>
        <img src="/static/Apple-iPhone-11-PNG-Image-Transparent.png">
        <h4>IPHONE 11 PRETO 64GB</h4>
        <p> Valor: 3200,00$</p>
        <button type="submit">COMPRAR</button>
    </div>
    <div>
        <p>Opção 2</p>
        <img src="/static/Apple-iPhone-11-PNG-Image.png" >
        <h4>IPHONE 12 ROXO 64GB</h4>
        <p> Valor: 3450,00$</p>
        <button type="submit">COMPRAR</button>
    </div>
    <div>
        <p>Opção 3</p>
        <img src="/static/Apple-iPhone-11-Transparent-Background-PNG.png" >
        <h4>IPHONE 11 VERMELHO 128GB</h4>
        <p> Valor: 3600,00$</p>
        <button type="submit">COMPRAR</button>
    </div>
    <div>
        <p>Opção 4</p>
        <img src="/static/iphone-16-1.png" >
        <h4>IPHONE 11 UTRAMARINO 128GB</h4>
        <p> Valor: 6200,00$</p>
        <button type="submit">COMPRAR</button>
    </div>
</div>
</body>
</html>