<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LariApple</title>
  <link rel="stylesheet" href="/static/pag.css">
</head>
<body class="inicial">
  <div class="pagina">
    <header class="titulo">
      <h1>LariApple</h1>
    </header>
    <main class="frase">
      <p>Seja muito bem-vindo!</p>
    </main>
  </div>
  <div class="image-container">
    <div>
        <p>Opção 1</p>
        <img src="/static/mba_13_m3_2024_hero.png">
        <h4>MACBOOK-AIR 13 POLEGADAS</h4>
        <p> Valor: 6550,00$</p>
        <button type="submit">COMPRAR</button>
    </div>
    <div>
        <p>Opção 2</p>
        <img src="/static/MacBook-Air.webp" >
        <h4>MACBOOK-AIR 11, 13 POLEGADAS</h4>
        <p> Valor: 5450,00$</p>
        <button type="submit">COMPRAR</button>
    </div>

</div>
</body>
</html>