<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu de Produtos</title>
    <link rel="stylesheet" href="/static/menu.css">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo a LariApple!</h1>

        <p>{{textoo}}</p>
        <a href="/cadastroproduto">Cadastre aqui seus produtos</a>
        <br>
        <a href="listarprodutos">Veja aqui nossos produtos</a>
    </div>
</body>
</html>